@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300&family=Libre+Bodoni:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,500;1,100&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,700;0,900;1,100;1,700;1,900&family=Tapestry&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300&family=Libre+Bodoni:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,500;1,100&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,700;0,900;1,100;1,700;1,900&family=Tapestry&display=swap');

*,
*::before,
*::after {
    margin: 0%;
    padding: 0%;
    /* box-sizing: border-box; */
}

html {
    font-family: 'Poppins', sans-serif;
}
/* .center{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
} */
.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 100px;
    gap: 70px;
    position: absolute;
    width: 1013px;
    height: 830px;
    left: 193px;
    top: 173px;
    margin: 0 auto;
    background: #FFFFFF;
    border-radius: 16px;
}

.user-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    width: 1013px;
    /* height: 128px; */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.user-container-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;

    width: 1013px;
    height: 64px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.user-item-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    width: 534px;
    height: 56px;

    border-radius: 4px;
}

.user-list {
    display: flex;
    flex-direction: row;
    /* align-items: flex-start; */
    align-items: center;
    width: 100%;
    justify-content: space-around;

}

li {
    list-style: none;
}

.li1 {
    width: 89px;
    height: 24px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #151B32;

    opacity: 0.8;
    width: 89px;
    height: 24px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.li2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 8px;

    width: 115px;
    height: 56px;

    background: #849FFF;
    border-radius: 8px;
    width: 83px;
    height: 24px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.li3 {
    width: 53px;
    height: 24px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #151B32;

    opacity: 0.8;
    width: 53px;
    height: 24px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.li4 {
    width: 55px;
    height: 24px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #151B32;

    opacity: 0.8;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.li5 {
    width: 94px;
    height: 24px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #151B32;

    opacity: 0.8;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.search-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px;
    gap: 8px;

    width: 327px;
    height: 64px;
    border: 1px solid #BFC8E6;
    border-radius: 4px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

#search-box {
    width: 105px;
    height: 24px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #151B32;

    opacity: 0.7;
    border: 0;
}

.user {
    width: 91px;
    /* height: 40px; */

    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 40px;
    color: #151B32;

}

.card-items {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 16px;

    width: 327px;
    height: 208px;

    background: #FBFCFF;
    border: 1px solid #BFC8E6;
    box-shadow: 0px 8px 23px rgba(218, 224, 249, 0.7);
    border-radius: 16px;
    box-sizing: border-box;
}

.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    width: 1013px;
    height: 432px;
}

.img img {
    width: 97px;
    height: 97px;
    border-radius: 50%;
}

.card-title {
    /* width: 125px; */
    height: 23px;

    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 23px;
}

.card-name {
    height: 21px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 20px;
}

.card-container .card-items:nth-child(2) {
    border: 1px solid #BFC8E6;
    box-shadow: 0px 8px 23px rgba(218, 224, 249, 0.7);
    border-radius: 16px;
}

.card-content-p {
    display: inline-block;
    height: 18px;
    border: 1px solid #516FD4;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #516FD4;
    border-radius: 20px;
    padding: 2px 8px;
}

.card-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;
    width: 170px;
}